.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix {
  clear: both;
}
.g-mt10 {
  margin-top: 10px;
}
.g-mt15 {
  margin-top: 15px;
}
.g-mt20 {
  margin-top: 20px;
}
.g-mr10 {
  margin-right: 10px;
}
.g-mb10 {
  margin-bottom: 10px;
}
.m-title {
  padding: 10px 0 20px 0;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  font-weight: 700;
  color: #00c5a3;
}
.m-content {
  margin-top: 30px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s ease;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
.status-success {
  color: #19be6b;
}
.status-wait {
  color: #ff9900;
}
.status-fail {
  color: #ed3f14;
}
.status-disable {
  color: #ccc;
}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #eee;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}
